
.ProductText{
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-13%);
}
.ProductImag{
    position: relative;
    margin: 10px;
    object-fit: cover;
}
.ProductSpan{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 20rem;
    margin-left: 15px;
    margin-bottom: .5rem;
}
.brandProd{
    font-weight: bold;
}
.ProductItem{
    text-align: center;
    
}

.ProductItem:hover{
transform: scale(1.05);
}
.ProductPage{
    margin-bottom: 1rem;
}